<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主頁面</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chart_container.css') }}">
</head>

<body>
    <h1>室內數據</h1>
    <p>溫度 >> <span id="indoor_current_temp">--</span> °C </p>
    <p>濕度 >> <span id="indoor_current_moist">--</span> % </p>
    <p>建議 >> <span id="indoor_suggestion"></span></p>
    <h2>過去一周</h2>
    <div class="indoor-chart-container">
        <canvas id="indoor_temp_chart"></canvas>
        <canvas id="indoor_moist_chart"></canvas>
    </div>

    <h1>室外數據</h1>
    <p>溫度 >> <span id="outdoor_current_temp">--</span> °C </p>
    <p>濕度 >> <span id="outdoot_current_moist">--</span> % </p>
    <p>PM2.5濃度 >> <span id="outdoor_current_pm25">--</span> μg/m3</p>
    <h2>過去一周</h2>
    <div class="outdoor-chart-container">
        <canvas id="outdoor_temp_chart"></canvas>
        <canvas id="outdoor_moist_chart"></canvas>
        <canvas id="outdoor_pm2.5_chart"></canvas>
    </div>

    <script src="{{ url_for('static', filename='js/indoorProcess.js') }}"></script>
    <script src="{{ url_for('static', filename='js/outdoorProcess.js') }}"></script>
</body>

</html>