.indoor-chart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.outdoor-chart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}